

/* styling for ProjectBar */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-row: 2;
    grid-column: 1 / 2;
}

.task-form-container {
    display: none;
    position: absolute;
    top: 10px;
}

.task-form-container-active {
    display: block;
    position: absolute;
    /* min-height: 110px;
    width: max-content; */
    top: 10px;
}

.project-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: white; */
}