

/* styling for ProjectBar */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-row: 2;
    grid-column: 1 / 2;
}

.task-form-container {
    display: none;
}

.task-form-container-active {
    display: block;
    position: absolute;
    /* min-height: 110px;
    width: max-content; */
    top: 10px;
}

.project-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.project-title {
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    margin-bottom: 10px;
}

.add-task-button {
    height: 25px;
    width: 25px;
    background-color: blanchedalmond;
    border: none;
    color: black;
    border-radius: 50%;
    margin-left: 35px;
    margin-bottom: 15px;
}

.task-title-container {
    margin-bottom: 8px;
    margin-left: 35px;
}